<% include ./common/head %>
<% include ./common/sidebar %>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <% include ./common/navbar %>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Users</h1>
                <p class="mb-4">View all ther details </p>
      
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Users List</h6>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Sr.</th>
                            <th>Company Code</th>
                            <th>Timer Code</th>
                            <th>Set Time</th>
                            <th>Event</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Sr.</th>
                            <th>Company Code</th>
                            <th>Timer Code</th>
                            <th>Set Time</th>
                            <th>Event</th>
                            <th>Action</th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <% 
                          i = 1;
                          userdata.forEach(function(o) {  %>
                          <tr>
                            <td><%=i%></td>
                            <td><%=o.company_code%></td> 
                            <td><%=o.timer_code%></td>
                            <td><%=o.set_time%> Min</td>
                            <td><%=o.event == 1 ? "Start" : "Stop"%></td>
                            <td><a href="" class="btn btn-primary btn-user">Edit</a> || <a href="" class="btn btn-danger btn-user">Delete</a></td>
                          </tr>
                          <% i++; }); %>                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
      
              </div>
              <!-- /.container-fluid -->   

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

     <% include ./common/footer %>